<h2>Work Details</h2>

<p>Id: {{work.id}}; WorkName: {{work.workName}}; isCompleted:{{work.isCompleted}}</p>
<!--
<div id = "mid"> <h3>Type to add your work:</h3>
  <input #input2 (keyup.enter) = "addWork(input1.value, input2.value, input3.value)" placeholder="Work Name...">
  <input #input3 (keyup.enter) = "addWork(input1.value, input2.value, input3.value)" placeholder="Is Completed...">

  <p></p>

  <button (click) = "fixWork(selectedWork, input2.value, input3.value)">Fix Work</button>
  <button (click) = "delWork(selectedWork)" >Del Work</button>
</div> -->
